@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black: #1c232b;
  --white: #ffffff;
  --grey: #6c7289;
  --cream: #f2eae2;
  --green-500: #3d8168;
  --green-700: #1a4032;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
}

body {
  background-color: var(--cream);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.card-container {
  background-color: var(--white);
  max-width: 22rem;
  margin: auto;
  border-radius: 0.5rem;
}

.card-image .mobile-img {
  width: 100%;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-image .desktop-img {
  display: none;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 2rem;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-category {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--grey);
}

.card-title {
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 100%;
  color: var(--black);
}

.card-description {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 160%;
  color: var(--grey);
}

.card-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-price-discounted {
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 100%;
  color: var(--green-500);

  margin-inline-end: 1rem;
}

.card-price-original {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 120%;
  color: var(--grey);

  text-decoration: line-through;
}

.card-button {
  width: 100%;
  min-height: 3.125rem;
  background-color: var(--green-500);

  border-radius: 0.5rem;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-button-image {
  margin-inline-end: 0.5rem;
}

.card-button-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 110%;
  color: var(--white);
}

@media screen and (min-width: 48em) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 100%;
    max-width: 37.5rem;
    height: auto;
  }

  .card-image .mobile-img {
    display: none;
  }

  .card-image .desktop-img {
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 100%;
  }

  .card-content {
    gap: 2rem;
  }
}
